<!DOCTYPE HTML>
<html>

<head>
    <title>Anonymous Web Blog</title>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            position: relative;
            font-family: Arial;
            text-align: center;
        }

        div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div>
        <h1>Anonymous Web Blog</h1>
        <p>Тут ничего нет. Для чтения блога вам необходима прямая ссылка на него.</p>
        <br>
        <h2>
            <a href="/register" style="text-decoration:none;">Зарегистрироваться</a><br>
            <a href="/create_post" style="text-decoration:none;">Создать пост</a>
        </h2>
        <br>
        <h2>
            <a style="text-decoration:none;" href="https://github.com/ebalaysinc/anonymous-web-blog">Github проекта</a>
        </h2>
    </div>
</body>

</html>